*, *::before, *::after {
        box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 24px;
	background-color: #d0f5e2;
	font-family: 'Roboto', sans-serif;
}

.lirycs-container {
	width: 400px;
	margin: 0 auto;
	padding-top: 70px;
}

h2 {
	font-size: 40px;
	margin-bottom: 0;
}


@media only screen and (max-width: 768px) {
  .lirycs-container {
		width: 100%;
		padding: 70px 60px 0 60px;
	}
}

@media only screen and (max-width: 576px) {
  .lirycs-container {
		padding: 70px 24px 0 24px;
	}
}